body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display:grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 75px auto 50px;
    grid-template-areas: "hdr hdr" "aside main" "ftr ftr";
}

header, aside, main, footer {
    padding: 20px;
    text-align: center;
}

header {
    color: white;
    background-color: rgb(33,87,51);
    grid-area: hdr;
}

aside {
    background-color: rgb(75,133,94);
    grid-area: aside;
    
}

main {
    grid-area: main;
}

footer {
    color: white;
    background-color: rgb(53,112,72);
    grid-area: ftr;
}

h1 {
    color: rgb(33,87,51);
}

p {
    line-height: 24px;
}

.restName {
    background-color: rgb(33,87,51);
    color: white;
    font-style: italic;
    padding: 5px;
    border-radius: 3px;
}